body{
    background-image: url("sand-beach-as-background_102618-461.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
h2,h3{
    background: linear-gradient(30deg, wheat, sandybrown);
}
div.summary{
    background-color: white;
    margin: -25px;
    border-top-left-radius: 45px;
    padding: 15px;
}
div.preamble{
    background-color: white;
    margin: -20px;
    padding: 15px;
}
div.explanation{
    background-color: white;
    margin: -20px;
    padding: 15px;
}
div.participation{
    background-color: white;
    margin: -20px;
    padding: 15px;
}
div.benefits{
    background-color: white;
    margin: -20px;
    padding: 15px;
}
div.requirements{
    background-color: white;
    margin: -20px;
    padding: 15px;
}
footer{
    background-color: white;
    margin: -20px;
    padding: 10px;
}
div.wrapper{
    background-color: white;
    margin: -20px;
    padding: 10px;
    border-bottom-left-radius: 50px;
}