body{
    background-image: url("sand-beach-as-background_102618-461.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Lobster', cursive;
}
h2,h3{
    background: linear-gradient(30deg, wheat, sandybrown);
}
h3{
    color: #793232;
}

div.page-wrapper{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
}
.explanation p{
    text-align: right;
}
.requirements h3{
    text-align: center;
}
.wrapper h3{
    text-align: right;
}