h3{
    color: #793232;
}

/* div.page-wrapper{
    background-color: white;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 20px;
}*/

.summary>p{
    text-align: right;
}
.explanation h3{
    text-align: right;
}
.explanation p{
    text-align: right;
}
.benefits h3{
    text-align: right;
}
.benefits>p{
    text-align: right;
}
.requirements {
    text-align: center;
}
.wrapper h3{
    text-align: right;
}