header{
    background-image:url("Spiagge-Kemcolor.jpeg");
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 45px);
    height: 50vh;
    padding: 20px;
}
section.intro#zen-intro>header>h1{
    color: brown;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    bottom: 65px;
    right: 20px;
    /*border: dashed wheat 5px;
    background-image: url("Spiagge-Kemcolor.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px;
    border-radius: 55%;*/
}
header h1, header h2{
    margin:0;
    position: absolute;
}
.intro header h2{
    font-size: 30px;
    color: #6c2626;
    bottom: 20px;
    right: 20px;
}
